<header class="header">
    <nav class="navbar navbar-default navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <!-- Dropdown menu button for smaller screens -->
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{site.baseurl}}/">
                    <img style="width: 75px" src="{{ site.baseurl }}/assets/img/LOGO.png">
                </a>
            </div>
            <!-- Navigation Links -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right" style="margin-top: 1%;">
                    {% include nav-links.html %}
                </ul>
            </div>
        </div>
    </nav>
</header>