body {
    font-family: 'Raleway', sans-serif;
}

a.black-link {
    color: black;
}

a.black-link:hover {
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

.center-text {
    text-align: center;
    font-size: 20px;
}

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}