---
layout: default
---

<div class="container" style="margin-bottom:10%;">
    <div class="row">
        <nav class="breadcrumb">
            <a class="breadcrumb-item black-link" href="{{ site.baseurl }}/">Home</a> >
            <a class="breadcrumb-item black-link" href="{{ site.baseurl }}/{{ page.prod_category | downcase }}/">{{ page.prod_category }}</a> >
            <span class="breadcrumb-item active">{{ page.title }}</span>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% if page.images %}
            <img id="main-prod-img" style="width:100%;" src={{ page.images[0] }} />
            {% else %}
            <div>Image Coming Soon</div>
            {% endif %}
        </div>
        <div class="col-sm-6">
            {% if page.title %}
            <h3><b>{{ page.title }}</b></h3>
            {% else %}
            <div>Title Coming Soon</div>
            {% endif %}
            </br>
            {% if page.prod_size %}
            <div><b>Size:</b> {{ page.prod_size }}</div>
            </br>
            {% endif %}
            <ul>
                {% for item in page.description_array %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            <div>
                {% for img in page.images %}
                <a href="#" onclick="changeImage('{{ img }}')"><img style="width:30%;" class="swatch mute" id="{{ img }}" src={{ img }} /></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    onload = function() {
        var main_img = "{{ page.images[0] }}";
        document.getElementById(main_img).classList.remove("mute");
    }
    function changeImage(img) {
        var swatches = document.getElementsByClassName("swatch");
        for (var i=0; i < swatches.length; i++) {
            swatches.item(i).classList.add("mute");
        }
        document.getElementById("main-prod-img").src = img;
        document.getElementById(img).classList.remove("mute");
    }
</script>
