---
layout: default
---

<div class="container" style="margin-bottom:10%;">
    <div class="row">
        </br>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% if page.images %}
            <img style="width:100%;" src={{ page.images[0] }} />
            {% else %}
            <div>Image Coming Soon</div>
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% if page.title %}
            <h3><b>{{ page.title }}</b></h3>
            {% else %}
            <div>Title Coming Soon</div>
            {% endif %}
            </br>
            <ul>
                {% for item in page.description_array %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% for img in page.images %}
            <a href="#"><img style="width:30%" src={{ img }} /></a>
            {% endfor %}
        </div>
    </div>
</div>
